.my-jobs-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, 300px);  
    grid-gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.add-job-tile {
    display: flex;
    justify-content: center;
    height: 100%;
    justify-self: stretch;
    align-items: center;
}

body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

//tile

.tile-title{
    margin-bottom: 2%;
}

.tile-subtitle{
    font-size: 13px;
}

.tile-body {
    display: grid;
    grid-template-rows: 80% 20%; 
}

.tile-footer {
    position: relative;
    left: 10%;
}


//Modal
.title {
    color: white;
}

.job-detail-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.header-button {
    position: relative;
    top: 10px;
    left: 10px;
}

.modal-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.modal-button {
    flex-grow: 1;
}

.chip {
    margin: 2px;
}

.chips-container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.notes {
    white-space: pre-line
}

small{
    font-weight: normal;
}

.activity-log-body{ 
    display: block;
    height: 60vh;
    overflow: scroll;
}


.panel-container{
    display: grid;
    grid-template-columns: 30% 70%

}

