small{
	font-weight: normal;
}

.my-jobs-grid {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(auto-fit, 23.25vw);  
	grid-gap: 1vw;
	margin-top: 2vh;
	margin-left: 1vw;
	margin-right: 1vw;

	//Tile
	.tile-title {
		margin-bottom: 2%;
	}
	
	.tile-subtitle {
		font-size: 13px;
	}
	
	.tile-body {
		display: grid;
		grid-template-rows: 80% 20%; 
	}
	
	.tile-footer {
		text-align: right;
		color: white;
		position: relative;
		right: 5%;
	}

	.add-job-tile {
		height: 100%;
		display: flex;
		justify-content: center;
		justify-self: stretch;
		align-items: center;
	}
}


//Modal
.modal-title {
	color: white;
}

.modal-body {
	display: flex;
	flex-direction: column;
	align-content: flex-start;

	.input-row {
		display: flex;
		justify-content: space-between;
	
		.input-row-field{
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 47%;
		}

		.sm-input-field {
			width: 45%;
		}

		.lg-input-field{
			width: 75%
		}
	}
}

.modal-button {
	flex-grow: 1;
}

//Job Modal
.job-modal-body {
	display: grid;
	grid-template-columns: 50% 50%;

	.modal-section-header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.modal-header-button {
			position: relative;
			top: 10px;
			left: 10px;
		}
	}

	.chips-container{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	
		.chip {
			margin: 2px;
		}
	}

	.modal-section-notes {
		white-space: pre-line
	}

	.overflow-list{ 
		display: block;
		height: 60vh;
		overflow: scroll;
	}
}